<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
      La <application> se fusiona con la de :amethyst (PojavApplication, proceso :launcher,
      tema AppTheme para sus Activities). Aquí solo sustituimos nombre, icono y backup.
    -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:remove="android:roundIcon"
        tools:replace="android:allowBackup,android:icon,android:label">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.MicrosoftLoginActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material" />
    </application>
</manifest>
